{% extends 'core/base.html' %}
{% block title %}My Account{% endblock %}
{% block content %}
<div class="py-6 px-6 bg-gradient-to-r from-blue-900 to-teal-500">
<h1 class="text-4xl text-white" style="padding-left: 8px; padding-bottom: 12px;">My Account</h1>
    <p class="text-xl font-semibold text-white">Username:</p>
    <p class="mb-2 text-white">{{ request.user.username }}</p>
    <br>
    
<a href="{% url 'logout' %}" class="py-3 px-6 mx-auto shadow-lg
bg-light-gray-400 text-white
rounded-2xl hover:font-bold hover:text-black" 
style="background-color: rgb(231 231 231 / 22%);backdrop-filter: blur(10px);">Logout</a>
</div>
{% endblock %}