{% extends 'core/base.html' %}
{% block title %}{{ client.name }}{% endblock %}
{% block content %}
    <div class="py-6 px-6 bg-gradient">
        <div class="glass">
    <div class="py-6 px-6  bg-gradient-to-r blue-gradient">

        <h1 class="mb-4 text-4xl" style="color:  white;">{{ client.name }}</h1>
        {% if client.description %}
            <p class="font-semibold">Description</p>
            <p class="mb-2">{{ client.description }}</p>
        {% endif %}

        <p class="text-2xl font-semibold text-white">Created at</p>
        <p class="mb-2 text-white">{{ client.created_at }}</p>

        <p class="text-2xl font-semibold text-white">Modifed at</p>
        <p class="mb-6 text-white">{{ client.modified_at }}</p>
        <hr class="my-4 text-white">


        <a href="{% url 'clients:edit' client.id %}" class="py-3 px-6 rounded-xl bg-teal-500 text-white">Edit</a>
        <a href="{% url 'clients:delete' client.id %}" class="py-3 px-6 rounded-xl bg-red-500 text-white">Delete</a>

        <hr class="my-4">
        <a href="{% url 'clients:list' %}" class="text-white">Back to clients</a>
    </div>
        </div></div>
{% endblock %}